.background-alt {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(120deg, #060616 40%, #1b1b1b 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}