/*================ MODAL =================*/
.modal-termos-alt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-content-alt {
  background: #242737;
  padding: 30px;
  border-radius: 16px;
  max-width: 500px;
  width: 90%;
  text-align: center;
  box-shadow: 0 10px 20px #0007, 0 1px 4px #fff2 inset;
  color: #fff;
}

.modal-content-alt button {
  border: none;
  background: #960000;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 6px;
  cursor: pointer;
  padding: 0.7rem 2rem;
  min-width: 170px;
  height: 50px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s, transform 0.1s;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.modal-content-alt button:hover {
  background: #e70000;
  transform: translateY(-2px);
  outline: none;
}
